body{
  background-color: #121212;
  color: white;
}
.nav{
  color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  height: 200vh;
}
.name{
  margin-top: 30px;
}
h2,h5{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}